#include "resource.h"

IDM_MAINMENU MENU
BEGIN
	POPUP "ファイル"
	BEGIN
		MENUITEM "開く(&O)...", ID_ITEM_FILE_OPEN
		MENUITEM "名前を付けて保存(&A)...", ID_ITEM_FILE_SAVEAS
	END
	POPUP "現在の色"
	BEGIN
		MENUITEM "黒", ID_ITEM_CURRENT_COLOR_BLACK
		MENUITEM "白", ID_ITEM_CURRENT_COLOR_WHITE
		MENUITEM "赤", ID_ITEM_CURRENT_COLOR_RED
		MENUITEM "緑", ID_ITEM_CURRENT_COLOR_GREEN
		MENUITEM "青", ID_ITEM_CURRENT_COLOR_BLUE
	END
END
